.sale-categories {
  width: 100%;
}

.sale-categories__slider {
  max-width: 100%;
  overflow-x: hidden;
}

.sale-categories__slider-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.sale-categories__slider-img {
  width: 100%;
  object-fit: cover;
}

.sale-categories__item-name {
  position: absolute;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-size: clamp(1.5625rem, 1.4867rem + 0.3236vw, 1.875rem);
}