.sale-clothes__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'clothes-slider banner';
}

.sale-clothes__slider {
  grid-area: clothes-slider;
  width: 100%;
}

.sale-clothes__slider-link {
  display: flex;
  width: 100%;
  height: 100%;
}

.sale-clothes__slider-img {
  width: 100%;
}

.swiper-pagination {
  bottom: 8% !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #FF0505;
}

.sale-clothes__banner-container {
  grid-area: banner;
  position: relative;
}

.sale-clothes__banner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sale-clothes__btn {
  position: absolute;
  left: calc(((100vw - 40px) / 2 - 12em) / 2);
  bottom: 7%;
}

.sale-clothes__img {
  height: 100%;
}

@media (max-width: 767px) {
  .sale-clothes__container {
    grid-template-columns: 1fr;
    grid-template-areas:
    'banner'
    'clothes-slider';
  }

  .sale-clothes__btn {
    left: calc(((100vw - 30px) - 12em) / 2)
  }
}
