.sale-runway {
  width: 100%;
}

.sale-runway__slider {
  max-width: 100%;
  overflow-x: hidden;
}

.sale-runway__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.sale-runway__slider-img {
  width: 100%;
  object-fit: cover;
}

.sale-runway__item-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: url(../../images/svg/shopping-cart.svg) center center / 15px 15px no-repeat #FFFFFF;
  position: absolute;
  cursor: pointer;
}

.product-top {
 top: 30%;
 left: 40%;
}

.product-bottom {
  top: 58%;
  right: 35%;
}

.product-shoes {
  top: 90%;
  right: 50%;
}

.product-top-popup {
  top: 35%;
  left: 40%;
 }

.product-bottom-popup {
  top: 63%;
  right: 35%;
}

.product-shoes-popup {
  top: 54%;
  right: 50%;
}

.popup_opened {
  display: flex !important;
  flex-direction: column;
}

.sale-runway__popup {
  display: none;
  width: 200px;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.sale-runway__popup-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.sale-runway__popup-img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.sale-runway__popup-name {
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
}

@media (max-width: 768px) {
  .sale-runway__popup {
    width: 50vw;
  }

  .product-top-popup {
    top: 40%;
    left: 30%;
   }

  .product-bottom-popup {
    top: 2%;
    right: 30%;
  }

  .product-shoes-popup {
    top: 33%;
    right: 20%;
  }
}
