/* Уточнить по какой формуле вычисляются относительные размеры width/height элементов через calc() */
/* Уточнить min и max размер шрифтов для разных разрешений для расчёта по clamp() */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #FFFFFF;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'search logo navigation';
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  height: 20px;
  grid-area: search;
  justify-self: start;
  cursor: pointer;
  padding: 0 0 0 30px;
  background: url(../images/svg/magnifier.svg) top left /20px 20px no-repeat transparent;
  border: none;
  font-size: clamp(0.05rem, -0.1806rem + 0.9838vw, 1rem);
  line-height: 1;
  letter-spacing: .75px;
}

.header__logo-link {
  grid-area: logo;
}

.header__logo {
  width: 531px;
}

.header__navigation {
  grid-area: navigation;
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.header__navigation-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.header__navigation-link {
  display: block;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-wishlist {
  background: url(../images/svg/star.svg) center /19px 19px no-repeat transparent;
}

.icon-user {
  background: url(../images/svg/user.svg) center /19px 19px no-repeat transparent;
}

.icon-bag {
  background: url(../images/svg/bag.svg) center /19px 19px no-repeat transparent;
}

.navigation__burger {
  border: none;
  width: 20px;
  height: 20px;
  background: url(../images/svg/burger-icon.svg) center /25px 25px no-repeat transparent;
}

.main-poster {
  background-color: #000000;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.main-poster__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(3.125rem, 1.3501rem + 7.5728vw, 10.4375rem);
}

.main-poster__buttons-container {
  align-self: end;
  padding: 0 0 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}

.main-poster__button {
  width: calc((100vw / 3 - 48px) / 2);
  height: 3em;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
  border: 1px solid #747272;
  border-radius: 4px;
  cursor: pointer;
}

.sale-filter {
  width: 100%;
  margin: 0 auto;
  padding: 70px 40px;
  display: grid;
  grid-template-areas:
  'title switcher tabs'
  '. . tabs';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.sale-filter__title {
  grid-area: title;
  white-space: nowrap;
}

.sale-filter__switcher {
  width: calc(100vw / 7);
  height: 70px;
  grid-area: switcher;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px #000000 solid;
  border-radius: 50px;
  padding: 2px;
}

.sale-filter__switcher-btn {
  padding: 0 calc(100% / 9);
  height: 100%;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  text-transform: uppercase;
  color: rgba(0%, 0%, 0%, 0.7);
  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
  cursor: pointer;
}

.sale-filter__switcher-btn_active {
  background: #5e5c5c;
  color: #FFFFFF;
}

.sale-filter__tabs {
  max-width: 920px;
  grid-area: tabs;
  align-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}

.sale-filter__tab {
  width: 154px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #747272;
  border-radius: 5px;
  color: rgba(0%, 0%, 0%, 0.7);
  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
  text-transform: capitalize;
  cursor: pointer;
}

.sale-filter__tab:hover {
  background-color: #000;
  color: #fff;
}



/* В футере используется другой шрифт. Узнать какой? */
.footer {
  margin: 0 auto;
  padding: 0 90px;
}

.footer__newsletter {
  margin: 50px 0;
  background-color: #F7F7F7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__newsletter-img {
  width: 100%;
}

.footer__newsletter-content {
  padding: 20px;
}

.footer__newsletter-title {
  font-weight: 700;
  font-size: 29px;
  line-height: 35px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: start;
}

.footer__newsletter-subtitle {
  width: 85%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 35px;
  text-align: start;
}

.footer__newsletter-form {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
}

.footer__newsletter-input {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  padding: 5px 12px 5px 0;
}

.footer__newsletter-input::placeholder {
  color: #000000;
}

.footer__newsletter-btn {
  padding: 0 30px 0 0;
  cursor: pointer;
  background: url(../images/svg/arrow.svg) center right /16px 16px no-repeat transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
}

.footer__newsletter-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.footer__newsletter-link {
  cursor: pointer;
}

.footer__newsletter-icon {
  width: 25px;
  height: 25px;
}



.footer__menu {
  padding: 50px 0 60px;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu-title {
  color: #000000;
  font-weight: 700;
  line-height: 1rem;
  font-size: 17px;
}

.footer__menu-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu-item-link {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
  line-height: 1rem;
}




.footer__brands {
  padding: 35px 0 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.footer__brand-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__brand-img {
  max-height: 45px;
}

.footer__brand-title {
  padding: 10px 0 0;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  line-height: 1rem;
}

.footer__brand-subtitle {
  color: #999999;
  font-size: 11px;
  line-height: 1rem;
}

.footer__copyright {
  padding: 25px 0;
  color: #666666;
  text-align: center;
  font-size: clamp(0.5rem, 0.4272rem + 0.3107vw, 0.8rem);
  letter-spacing: .75px;
  line-height: 24px;
}